(
	sprite_map: {
		Player(MaskDude): (
			location: "sprites/Players/MaskDude.png",
			tile_size: (32.0, 32.0),
			cols: 12,
			rows: 4,
			sheets: {
				MaskDude(Idle): ( start: 24, frames: 11 ),
				MaskDude(Jump): ( start: 8, frames: 1 ),
				MaskDude(DoubleJump): ( start: 1, frames: 6 ),
				MaskDude(WallJump): ( start: 20, frames: 5),
				MaskDude(Fall): ( start: 7, frames: 1 ),
				MaskDude(Hit): (start: 13, frames: 7 ),
				MaskDude(Run): (start: 45, frames: 12 )
			}
		)
	}
)