(
	players: [(
		entity_type: MaskDude,
		texture: (
			location: "sprites/Players/MaskDude.png",
			tile_size: (32.0, 32.0),
			row_cols: (4, 12),
		),
		animation: {
			DoubleJump: ( start: 0, frames: 6 ),
			Fall: ( start: 6, frames: 1 ),
			Jump: ( start: 7, frames: 1 ),
			Hit: (start: 12, frames: 7 ),
			WallJump: ( start: 19, frames: 5),
			Idle: ( start: 24, frames: 11 ),
			Run: (start: 36, frames: 12 )
		}
	),
	(
		entity_type: NinjaFrog,
		texture: (
			location: "sprites/Players/NinjaFrog.png",
			tile_size: (32.0, 32.0),
			row_cols: (4, 12),
		),
		animation: {
			DoubleJump: ( start: 0, frames: 6 ),
			Fall: ( start: 6, frames: 1 ),
			Jump: ( start: 7, frames: 1 ),
			Hit: (start: 12, frames: 7 ),
			WallJump: ( start: 19, frames: 5),
			Idle: ( start: 24, frames: 11 ),
			Run: (start: 36, frames: 12 )
		}
	),
	(
		entity_type: PinkMan,
		texture: (
			location: "sprites/Players/PinkMan.png",
			tile_size: (32.0, 32.0),
			row_cols: (4, 12),
		),
		animation: {
			DoubleJump: ( start: 0, frames: 6 ),
			Fall: ( start: 6, frames: 1 ),
			Jump: ( start: 7, frames: 1 ),
			Hit: (start: 12, frames: 7 ),
			WallJump: ( start: 19, frames: 5),
			Idle: ( start: 24, frames: 11 ),
			Run: (start: 36, frames: 12 )
		}
	),
	(
		entity_type: VirtualGuy,
		texture: (
			location: "sprites/Players/VirtualGuy.png",
			tile_size: (32.0, 32.0),
			row_cols: (4, 12),
		),
		animation: {
			DoubleJump: ( start: 0, frames: 6 ),
			Fall: ( start: 6, frames: 1 ),
			Jump: ( start: 7, frames: 1 ),
			Hit: (start: 12, frames: 7 ),
			WallJump: ( start: 19, frames: 5),
			Idle: ( start: 24, frames: 11 ),
			Run: (start: 36, frames: 12 )
		}
	)
	]
)